.jumbo {
    margin-top: 5%;
    height: 40em;
    width: 60em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: .25em .25em .25em 0 #0006, -.25em -.25em .25em 0 #fff6;
    border-radius: 1em;
}

.jumbo-panel {
    margin: 7em;
    height: 100%;
    width: 100%;

}

.in {
    transition: all .66s ease-in;
    opacity: 100%;
}
.right {
    transition: all .66s ease-in;
    transform: translateX(100em);
}
.left {
    transition: all .66s ease-in;
    transform: translateX(-100em);
}
.fade {
    transition: all .66s ease-in;
    opacity: 0%;
}

.dot-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 14em;
    height: 3em;
    margin: 1em;
}

.dot, .dot-sel {
    height: 1em;
    width: 1em;
}

.dot {
    transition: background-color .33s ease-in;
    border-radius: 50%;
    background-color: #0000;
    border: 1px solid white;
}

.dot-sel {
    transition: background-color .33s ease-in;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
}

h2 {
    font-family: 'Odibee Sans', cursive;
    margin-top: 1em;
    font-size: 3em;
    background: linear-gradient(#0000 0% 95%, var(--text-light) 96% 100%)
}

p {
    margin: 0 1em 0 1em;
    font-size: .8em;
    line-height: 2em;
}