@import '../../style.css';

nav {
    width: 100vw;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 22% 22%;         
}

a:focus, .selected {
    transition: all .33s ease-in-out;
    text-shadow: 0 0 .25em var(--accent-color);
    outline: none;
}

a {
    transition: all .33s ease-in-out;
    border-radius: 0 0 .5em .5em;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 25%;
    text-decoration: none;
    color: var(--text-light);
    background-color: #0000;
}

a:hover { 
    transition: all .33s ease-in-out;
    height: 3em;
    border-radius: 0 0 10% 10%;
    background-color: var(--accent-color);
    box-shadow: 0 0 0 .1em #fff inset;
    text-shadow: 0 0 .25em #fff;
}