@import '../../style.css';

nav {
    width: 100vw;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 22% 22%;
}

a {
    transition: all .33s ease-in-out;
    border-radius: 0 0 25% 25%;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 25%;
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--main-color);
}

.plus {
    height: 64px;
    width: 64px;
    background-image: url(https://img.icons8.com/fluent-systems-filled/64/plus.png);
}

a:hover {
    transition: all .33s ease-in-out;
    height: 3em;
    margin-top: .5em;
    text-shadow: 0 0 .25em var(--accent-color);
}