footer {
    transition: transform .66s ease-out;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 12em;
    background-color: var(--main-color);
    border-radius: 33% 33% 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    z-index: 2;
}

.btn-ctrl {
    transition: all .33s ease-in;
    height: 136px;
    width: 128px;
    color: var(--text-light);
    background-color: #0000;    
    border-radius: 10% 10% 0 0;
    border: none;        
    margin-top: 3em;
    z-index: 2;
    cursor: pointer;
}

.btn-ctrl:hover, .btn-ctrl:focus, .btn-ctrl-selected {
    transition: all .33s ease-out;
    margin-top: -1.5em;
    height: 13em;
    background-color: var(--accent-color);
    border-radius: 10% 10% 0 0;
    outline: none;
    box-shadow: 0 0 0 .25em #fff;                 
}

.btn-ctrl:active {
    transition: background-color .2s linear;
    background-color: #ee77bb;
}

.ready {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    transition: all .4s ease-in-out;
    position: fixed;
    color: #000;
    background-color: #0000;
    bottom: -10em;
    right: 0em;     
    height: 15em;
    width: 15em;        
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 .25em #000;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3em;
}
.ready:hover {
    transition: all .4s,;
    background-color: var(--accent-color);
}

.ready:active {
    background-color: #ee77bb;
}

.ready:focus {
    outline: none;
    box-shadow: 0 0 0 .25em var(--accent-color);
}


.ready:disabled {
    cursor: not-allowed;
    color: #555;
    background: repeating-linear-gradient(45deg, #999 0% 2%, #0000 2% 6%);
    box-shadow: 0 0 0 .25em #999;
}

.btn-bg {
    height: 100%;
    width: 100%;    
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hud {
    transition: transform .66s ease-out;
    position: fixed;
    bottom: 0;
    height: 20em;
    width: 50%;
    border-radius: 50% 50% 0 0;
    background-color: var(--main-color);
    z-index: 1;
    transform: translateY(0);
}

.hide-low {
    visibility: hidden;
    transform: translateY(1050px)
}

.ec-icon, .mi-icon, .so-icon {
    font-family: 'Odibee Sans', cursive;
    font-size: 1.5em;
}

.ec-icon {    
    background-image: url('../../assets/economy2_128.png');
}

.mi-icon {
    background-image: url('../../assets/military_128.png')
}

.so-icon {
    background-image: url('../../assets/society_128.png');
}